@font-face {
  font-family: "Proxima Nova";
  src: url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'), url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Proxima Nova Italic";
  src: url('../fonts/ProximaNova-RegIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Thin";
  src: url('../fonts/ProximaNova-Thin.otf') format('opentype'), url('../fonts/ProximaNova-Thin-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Thin Italic";
  src: url('../fonts/ProximaNova-ThinIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Light";
  src: url('../fonts/ProximaNova-Light.otf') format('opentype'), url('../fonts/ProximaNova-Light-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Light Italic";
  src: url('../fonts/ProximaNova-LightIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url('../fonts/ProximaNova-Sbold.otf') format('opentype'), url('../fonts/ProximaNova-Sbold-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Semibold Italic";
  src: url('../fonts/ProximaNova-SboldIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'), url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: "Proxima Nova Bold Italic";
  src: url('../fonts/ProximaNova-BoldIt-webfont.woff') format('woff');
}
@font-face {
  font-family: "Proxima Nova Extra Bold";
  src: url('../fonts/ProximaNova-Extrabld.otf') format('opentype');
}
@font-face {
  font-family: "Arial Black";
  src: url('../fonts/arial_black-webfont.ttf') format('truetype');
}
.rgtCol {
  width: 208px;
  height: 300px;
  margin-left: 35px;
  background: #f4f1e9;
  padding: 12px;
}
.rgtCol h5 {
  margin-top: 12px;
}
.rgtCol a {
  display: inline;
}
.blackTxt {
  font-size: 12px;
  font-family: 'Muli', "Myriad Web Pro", arial, serif;
  font-weight: normal;
}
/*

SecondSTEP Styles v6

*/
/*
    #UNSORTED

*/
.ssp-font-proxima-nova {
  font-family: "Proxima Nova", sans-serif;
}
.ssp-font-proxima-nova-thin {
  font-family: "Proxima Nova Thin", sans-serif;
}
.ssp-font-proxima-nova-light {
  font-family: "Proxima Nova Light", sans-serif;
}
.ssp-font-proxima-nova-semibold {
  font-family: "Proxima Nova Semibold", sans-serif;
}
.ssp-font-proxima-nova-bold {
  font-family: "Proxima Nova Bold", sans-serif;
}
.ssp-font-proxima-nova-extra-bold {
  font-family: "Proxima Nova Extra Bold", sans-serif;
}
.ssp-font-arial-black {
  font-family: "Arial Black", Arial, sans-serif;
}
.ssp-font-muli {
  font-family: 'Muli', "Myriad Web Pro", arial, serif;
}
.ssp-font-monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
strong.ssp-body {
  font-family: "Proxima Nova", sans-serif;
}
p.ssp-intro-txt {
  font-size: 19px;
  line-height: 1.4em;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #666;
}
p.ssp-byline {
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #666;
  font-size: 14px;
}
.ssp-label {
  font-family: "Proxima Nova Bold", sans-serif;
  font-size: 14px;
  color: #333;
  margin: 10px 0 5px;
}
hr {
  margin: 40px 0;
}
.ssp-early-learning {
  font-family: "Proxima Nova Thin";
  color: #009CDE;
}
.ssp-early-learning-bold {
  font-family: "Proxima Nova";
  color: #009CDE;
}
.ssp-early-learning-xbold {
  font-family: "Proxima Nova Bold";
  color: #009CDE;
}
.ssp-kindergarten {
  font-family: "Proxima Nova Thin";
  color: #CE1443;
}
.ssp-kindergarten-bold {
  font-family: "Proxima Nova";
  color: #CE1443;
}
.ssp-kindergarten-xbold {
  font-family: "Proxima Nova Bold";
  color: #CE1443;
}
.ssp-grade-1 {
  font-family: "Proxima Nova Thin";
  color: #F47B2A;
}
.ssp-grade-1-bold {
  font-family: "Proxima Nova";
  color: #F47B2A;
}
.ssp-grade-1-xbold {
  font-family: "Proxima Nova Bold";
  color: #F47B2A;
}
.ssp-grade-2 {
  font-family: "Proxima Nova Thin";
  color: #FCB715;
}
.ssp-grade-2-bold {
  font-family: "Proxima Nova";
  color: #FCB715;
}
.ssp-grade-2-xbold {
  font-family: "Proxima Nova Bold";
  color: #FCB715;
}
.ssp-grade-3 {
  font-family: "Proxima Nova Thin";
  color: #54B247;
}
.ssp-grade-3-bold {
  font-family: "Proxima Nova";
  color: #54B247;
}
.ssp-grade-3-xbold {
  font-family: "Proxima Nova Bold";
  color: #54B247;
}
.ssp-grade-4 {
  font-family: "Proxima Nova Thin";
  color: #59BEC9;
}
.ssp-grade-4-bold {
  font-family: "Proxima Nova";
  color: #59BEC9;
}
.ssp-grade-4-xbold {
  font-family: "Proxima Nova Bold";
  color: #59BEC9;
}
.ssp-grade-5 {
  font-family: "Proxima Nova Thin";
  color: #653279;
}
.ssp-grade-5-bold {
  font-family: "Proxima Nova";
  color: #653279;
}
.ssp-grade-5-xbold {
  font-family: "Proxima Nova Bold";
  color: #653279;
}
.ssp-grade-6 {
  font-family: "Proxima Nova Thin";
  color: #E9731E;
}
.ssp-grade-6-bold {
  font-family: "Proxima Nova";
  color: #E9731E;
}
.ssp-grade-6-xbold {
  font-family: "Proxima Nova Bold";
  color: #E9731E;
}
.ssp-grade-7 {
  font-family: "Proxima Nova Thin";
  color: #699AC5;
}
.ssp-grade-7-bold {
  font-family: "Proxima Nova";
  color: #699AC5;
}
.ssp-grade-7-xbold {
  font-family: "Proxima Nova Bold";
  color: #699AC5;
}
.ssp-grade-8 {
  font-family: "Proxima Nova Thin";
  color: #FCB715;
}
.ssp-grade-8-bold {
  font-family: "Proxima Nova";
  color: #FCB715;
}
.ssp-grade-8-xbold {
  font-family: "Proxima Nova Bold";
  color: #FCB715;
}
.ssp-content {
  padding: 0 60px 0 20px;
}
.ssp-clear {
  clear: both;
}
.ssp-p2 {
  float: right;
}
.ssp-p2 p {
  margin-top: 0;
}
.ssp-p2 img {
  float: left;
  width: 130px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.ssp-p3 {
  line-height: 30px;
}
.ssp-rule {
  border-bottom: solid 1px #444;
  padding-bottom: 5px;
  padding-top: 10px;
}
.ssp-color-early-learning {
  color: #009CDE;
}
.ssp-color-kindergarten {
  color: #CE1443;
}
.ssp-color-grade-1 {
  color: #F47B2A;
}
.ssp-color-grade-2 {
  color: #FCB715;
}
.ssp-color-grade-3 {
  color: #54B247;
}
.ssp-color-grade-4 {
  color: #59BEC9;
}
.ssp-color-grade-5 {
  color: #653279;
}
.ssp-color-grade-6 {
  color: #E9731E;
}
.ssp-color-grade-7 {
  color: #699AC5;
}
.ssp-color-grade-8 {
  color: #FCB715;
}
.ssp-color-grey {
  color: #666;
}
.ssp-color-light-grey {
  color: #e6e5e9;
}
.text-light-on-color {
  color: #fff;
}
.ms-color-bg-early-learning {
  background-color: #009CDE;
}
.ms-color-bg-kindergarten {
  background-color: #CE1443;
}
.ms-color-bg-grade-1 {
  background-color: #F47B2A;
}
.ms-color-bg-grade-2 {
  background-color: #FCB715;
  color: #444;
}
.ms-color-bg-grade-3 {
  background-color: #54B247;
}
.ms-color-bg-grade-4 {
  background-color: #59BEC9;
}
.ms-color-bg-grade-5 {
  background-color: #653279;
}
.ms-color-bg-grade-6 {
  background-color: #E9731E;
}
.ms-color-bg-grade-7 {
  background-color: #699AC5;
}
.ms-color-bg-grade-8 {
  background-color: #FCB715;
  color: #444;
}
.ms-color-bg-bpu {
  background-color: #F84139;
}
.ms-color-bg-cpu {
  background-color: #33a86a;
}
.ms-color-bg-second-step {
  background-color: #0478b5;
}
.ms-color-bg-dark-neutral {
  background-color: #ebe7dc;
  color: #444;
}
.ms-color-bg-light-neutral {
  background-color: #EFEBE3;
  color: #444;
}
table.ssp-margin-matrix {
  border-collapse: collapse;
  cursor: default;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
table.ssp-margin-matrix td {
  position: relative;
  vertical-align: middle !important;
}
table.ssp-margin-matrix td:hover:before {
  background-color: rgba(0, 0, 0, 0.33);
  content: '\00a0';
  height: 100%;
  left: -5000px;
  position: absolute;
  top: 0;
  width: 10000px;
  z-index: -1;
}
table.ssp-margin-matrix td:hover:after {
  background-color: rgba(0, 0, 0, 0.33);
  content: '\00a0';
  height: 10000px;
  left: 0;
  position: absolute;
  top: -5000px;
  width: 100%;
  z-index: -1;
}
.ssp-sidenav-sticky {
  visibility: hidden;
  top: 0;
  transition: top 500ms;
}
.ssp-sidenav-sticky.affix {
  visibility: visible;
  top: 20px;
  z-index: 999;
}
article {
  float: left;
  width: 60%;
}
aside {
  width: 25%;
  float: right;
  background-color: #ececec;
  padding: 15px 25px 25px;
}
footer {
  height: 100px;
}
pre {
  display: block;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 16px;
  line-height: 1.125;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
  color: #ccc;
  padding: 28px;
  margin: 28px 0;
  background: #263238;
  border: none;
  border-radius: 0;
}
pre:hover {
  border: none;
}
pre:hover label {
  visibility: visible;
}
pre h1,
pre h2,
pre h3,
pre h4,
pre h5,
pre h6 {
  margin: 14px 0;
  color: #e6e5e9;
}
pre label {
  display: block;
  visibility: hidden;
  position: absolute;
  top: 16px;
  background: #f3f3f3;
  padding: 4px;
  border: 1px solid #e6e5e9;
}
pre p {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: normal;
  word-break: break-word;
  background-color: transparent;
  border-radius: 0;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: transparent;
  border-radius: 0;
}
pre em {
  font-style: normal;
}
pre em.tag {
  color: #ea6c57;
}
pre em.attr {
  color: #ffba00;
}
pre em.class {
  color: #3fdc89;
}
pre i {
  background-color: #222;
}
code {
  background-color: #e6e5e9;
  color: #ce1443;
}
code span {
  font-style: italic;
  border-bottom: 1px dotted;
}
/*

    #GRID
    #CONTAINERS
    #BOXES

*/
.ssp-castle {
  padding: 20px;
}
.ssp-castle.white {
  background-color: #fff;
}
.ssp-castle.red {
  background-color: #F84139;
}
.ssp-castle.green {
  background-color: #33a86a;
}
.ssp-castle.blue {
  background-color: #0478b5;
}
.ssp-castle.tan {
  background-color: #ebe7dc;
}
.ssp-sample-container {
  display: inline-block;
  padding: 1px;
  margin: 1px;
  background: rgba(0, 0, 0, 0.2);
}
.ssp-sample-container:first-child {
  margin-left: 0;
}
.ssp-sample-container .ssp-sample-box {
  display: block;
}
.ssp-sample-container .ssp-sample-box span {
  display: inline-block;
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.25);
}
.ssp-sample-container .ssp-sample-box.red {
  color: #fff;
  background: #F84139;
}
.ssp-sample-row {
  background: rgba(4, 120, 181, 0.25);
}
.ssp-sample-row .ssp-sample-col {
  background: rgba(4, 120, 181, 0.25);
  outline: 1px solid #fff;
}
.ssp-sample-row .ssp-sample-col label,
.ssp-sample-row .ssp-sample-col span {
  display: inline-block;
  padding: 10px;
}
.ssp-sample-grid div {
  outline: 1px solid #fcddd9;
  padding: 20px 0;
  text-align: center;
}
.ssp-jumbotron {
  position: relative;
  padding-top: 14px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: #444;
  background-color: #ebe7dc;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.ssp-jumbotron .h1,
.ssp-jumbotron h1 {
  color: #444;
  position: relative;
  z-index: 2;
}
.ssp-jumbotron p {
  margin-bottom: 10px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.ssp-jumbotron > hr {
  border-top-color: #d8d1bc;
}
.container .ssp-jumbotron,
.container-fluid .ssp-jumbotron {
  border-radius: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.ssp-jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .ssp-jumbotron {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .container .ssp-jumbotron,
  .container-fluid .ssp-jumbotron {
    padding-left: 40px;
    padding-right: 40px;
  }
  .ssp-jumbotron .h1,
  .ssp-jumbotron h1 {
    font-size: 48px;
  }
}
.ssp-bg-img {
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
.ssp-head-img {
  margin-bottom: 15px;
}
.ssp-head-img img {
  max-width: 100%;
}
.ssp-body-img {
  margin: 15px 0;
}
.tan-box {
  margin: 15px 0;
  padding: 20px 30px;
  color: #ebe7dc;
}
.tan-box-text {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0 15px;
  color: #333;
}
.logo-example img {
  max-width: 85%;
}
/*

    #GLOBAL

*/
body {
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  color: #444;
}
a {
  color: #0077c7;
  line-height: 1.5;
}
a:hover {
  color: #0077c7;
  text-decoration: underline;
  cursor: pointer;
}
a.current {
  color: #565455;
}
a.current:hover {
  text-decoration: none;
  cursor: default;
}
a.current:before {
  content: '\00a0';
  width: 0.25em;
  height: 35px;
  margin-top: 0.3em;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #0478b5;
}
a.alt {
  text-decoration: none;
  border-bottom: 1px dashed #0478b5;
}
a.alt:hover {
  border-bottom: 1px dashed #666;
  cursor: pointer;
}
pre a {
  color: inherit;
  text-decoration: underline;
}
pre a:hover {
  color: #666;
}
pre a.alt {
  border-bottom-color: inherit;
}
.tooltip-inner {
  padding: 3px 8px;
  color: #000;
  text-align: center;
  background-color: #ebe7dc;
  border-radius: 0;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #ebe7dc;
}
hr {
  margin-top: 48px;
  margin-bottom: 48px;
  border: 0;
  border-top: 1px solid #e6e5e9;
  position: relative;
  clear: both;
}
hr.thick {
  border-top: 4px solid #e6e5e9;
  margin-top: 72px;
  margin-bottom: 72px;
}
hr.double {
  margin: 72px 0;
}
hr.double:after {
  content: '';
  width: 100%;
  border: 0;
  border-top: 1px solid #e6e5e9;
  position: absolute;
  top: 5px;
}
hr.white {
  background-color: #fff;
  border-color: #fff;
}
hr.red {
  background-color: #F84139;
  border-color: #F84139;
}
hr.red:hover {
  background-color: #fa7a74;
  border-color: #fa7a74;
}
hr.green {
  background-color: #33a86a;
  border-color: #33a86a;
}
hr.green:hover {
  background-color: #4fc988;
  border-color: #4fc988;
}
hr.blue {
  background-color: #0478b5;
  border-color: #0478b5;
}
hr.blue:hover {
  background-color: #05a0f1;
  border-color: #05a0f1;
}
img.ssp-thumbnail-left {
  margin-right: 20px;
}
.top-bar {
  padding: 28px 0;
}
/*

    #BUTTONS

*/
.ssp-btn {
  display: inline-block;
  margin-bottom: 0;
  width: auto;
  text-align: center;
  font-size: 16px;
  font-family: "Proxima Nova", sans-serif;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 0 solid transparent;
  padding: 11px 20px;
  transition: all 200ms;
  border-radius: 0;
  color: #fff;
  background: #0478b5;
  text-decoration: none;
}
.ssp-btn p {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 0;
  text-align: center;
}
.ssp-btn:active,
.ssp-btn:focus,
.ssp-btn:hover {
  color: #fff;
  background: #0077c7;
  border: 0 solid transparent;
}
.ssp-btn.ssp-btn-small {
  padding-top: 7px;
  padding-bottom: 7px;
}
.ssp-btn.block {
  display: block;
  width: 100%;
}
.ssp-btn.ghoast {
  border: 2px solid #0478b5;
  white-space: nowrap;
  padding: 11px 80px;
  border-radius: 0;
  color: #0478b5;
  background: #fff;
}
.ssp-btn.ghoast:active,
.ssp-btn.ghoast:focus,
.ssp-btn.ghoast:hover {
  background: #0478b5;
  color: #fff;
  text-decoration: none;
}
.ssp-btn.urgent {
  text-transform: uppercase;
  background: #ef6b23;
}
.ssp-btn.urgent:active,
.ssp-btn.urgent:focus,
.ssp-btn.urgent:hover {
  background: #ffaa82;
}
.ssp-btn.btn-animated {
  max-width: 100%;
  height: 52px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0;
  transition: all 500ms;
}
.ssp-btn.btn-animated .original-text {
  position: relative;
  transform: translate(0, 0);
  padding: 14px 20px;
  transition: all 500ms;
}
.ssp-btn.btn-animated .original-text.thinking {
  cursor: no-drop;
  color: rgba(255, 255, 255, 0.5);
}
.ssp-btn.btn-animated .original-text.thinking:hover {
  background: #0478b5;
}
.ssp-btn.btn-animated .original-text.thinking:after {
  content: '';
  height: 2px;
  position: absolute;
  background: #fff;
  margin-top: 12px;
  top: 50%;
  left: 10%;
  right: 10%;
  animation: 1500ms ease-in-out 0 infinite normal forwards thinking-bar-animation;
}
@keyframes thinking-bar-animation {
  0% {
    left: 10%;
    right: 90%;
  }
  33% {
    left: 10%;
    right: 10%;
  }
  66% {
    left: 90%;
    right: 10%;
  }
  100% {
    left: 90%;
    right: 10%;
  }
}
.ssp-btn.btn-animated .original-text.animate-out {
  transform: translate(0, -100%);
}
.ssp-btn.btn-animated .original-text.animate-out:after {
  display: none;
}
.ssp-btn.btn-animated .succeeded-text {
  position: relative;
  transform: translate(0, 0%);
  padding: 14px 20px;
  transition: all 500ms;
}
.ssp-btn.btn-animated .succeeded-text.animate-in {
  background: #33a86a;
  transform: translate(0, -100%);
}
.ssp-btn.btn-animated .warned-text {
  position: relative;
  transform: translate(0, 0%);
  padding: 14px 20px;
  transition: all 500ms;
}
.ssp-btn.btn-animated .warned-text.animate-in {
  background: #F84139;
  transform: translate(0, -200%);
}
.ssp-btn.white {
  background-color: #fff;
  border-color: #fff;
}
.ssp-btn.red {
  background-color: #F84139;
  border-color: #F84139;
}
.ssp-btn.red:hover {
  background-color: #fa7a74;
  border-color: #fa7a74;
}
.ssp-btn.green {
  background-color: #33a86a;
  border-color: #33a86a;
}
.ssp-btn.green:hover {
  background-color: #4fc988;
  border-color: #4fc988;
}
.ssp-btn.blue {
  background-color: #0478b5;
  border-color: #0478b5;
}
.ssp-btn.blue:hover {
  background-color: #05a0f1;
  border-color: #05a0f1;
}
.collapse pre,
.collapse.in pre,
.collapsing pre {
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.ssp-btn[aria-expanded='true'] {
  background: #263238;
}
/*

    #TYPOGRAPHY

*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proxima Nova Thin", sans-serif;
  position: relative;
  color: #000;
  margin-top: 36px;
  margin-top: 10px;
  margin-bottom: 12px;
  margin-bottom: 10px;
}
h1.ssp-heavy,
h2.ssp-heavy,
h3.ssp-heavy,
h4.ssp-heavy,
h5.ssp-heavy,
h6.ssp-heavy {
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #333;
  margin: 10px 0 5px;
}
h1.ssp-bold,
h2.ssp-bold,
h3.ssp-bold,
h4.ssp-bold,
h5.ssp-bold,
h6.ssp-bold {
  font-family: "Proxima Nova Bold", sans-serif;
  color: #333;
  margin: 10px 0 5px;
}
h1.ssp-xbold,
h2.ssp-xbold,
h3.ssp-xbold,
h4.ssp-xbold,
h5.ssp-xbold,
h6.ssp-xbold {
  font-family: "Proxima Nova Extra Bold", sans-serif;
  color: #444;
  margin: 10px 0 5px;
}
h1.tan.ssp-color-block,
h2.tan.ssp-color-block,
h3.tan.ssp-color-block,
h4.tan.ssp-color-block,
h5.tan.ssp-color-block,
h6.tan.ssp-color-block {
  padding-left: 0.5em;
}
h1.tan.ssp-color-block:before,
h2.tan.ssp-color-block:before,
h3.tan.ssp-color-block:before,
h4.tan.ssp-color-block:before,
h5.tan.ssp-color-block:before,
h6.tan.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #ebe7dc;
}
h1.tan.ssp-color-block-background,
h2.tan.ssp-color-block-background,
h3.tan.ssp-color-block-background,
h4.tan.ssp-color-block-background,
h5.tan.ssp-color-block-background,
h6.tan.ssp-color-block-background {
  padding: 14px 20px;
  background: #ebe7dc;
}
h1.grey.ssp-color-block,
h2.grey.ssp-color-block,
h3.grey.ssp-color-block,
h4.grey.ssp-color-block,
h5.grey.ssp-color-block,
h6.grey.ssp-color-block {
  padding-left: 0.5em;
}
h1.grey.ssp-color-block:before,
h2.grey.ssp-color-block:before,
h3.grey.ssp-color-block:before,
h4.grey.ssp-color-block:before,
h5.grey.ssp-color-block:before,
h6.grey.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #e6e5e9;
}
h1.grey.ssp-color-block-background,
h2.grey.ssp-color-block-background,
h3.grey.ssp-color-block-background,
h4.grey.ssp-color-block-background,
h5.grey.ssp-color-block-background,
h6.grey.ssp-color-block-background {
  padding: 14px 20px;
  background: #e6e5e9;
}
h1.blue.ssp-color-block,
h2.blue.ssp-color-block,
h3.blue.ssp-color-block,
h4.blue.ssp-color-block,
h5.blue.ssp-color-block,
h6.blue.ssp-color-block {
  padding-left: 0.5em;
}
h1.blue.ssp-color-block:before,
h2.blue.ssp-color-block:before,
h3.blue.ssp-color-block:before,
h4.blue.ssp-color-block:before,
h5.blue.ssp-color-block:before,
h6.blue.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #0478b5;
}
h1.blue.ssp-color-block-background,
h2.blue.ssp-color-block-background,
h3.blue.ssp-color-block-background,
h4.blue.ssp-color-block-background,
h5.blue.ssp-color-block-background,
h6.blue.ssp-color-block-background {
  padding: 14px 20px;
  background: #0478b5;
}
h1.red.ssp-color-block,
h2.red.ssp-color-block,
h3.red.ssp-color-block,
h4.red.ssp-color-block,
h5.red.ssp-color-block,
h6.red.ssp-color-block {
  padding-left: 0.5em;
}
h1.red.ssp-color-block:before,
h2.red.ssp-color-block:before,
h3.red.ssp-color-block:before,
h4.red.ssp-color-block:before,
h5.red.ssp-color-block:before,
h6.red.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #F84139;
}
h1.red.ssp-color-block-background,
h2.red.ssp-color-block-background,
h3.red.ssp-color-block-background,
h4.red.ssp-color-block-background,
h5.red.ssp-color-block-background,
h6.red.ssp-color-block-background {
  padding: 14px 20px;
  background: #F84139;
}
h1.green.ssp-color-block,
h2.green.ssp-color-block,
h3.green.ssp-color-block,
h4.green.ssp-color-block,
h5.green.ssp-color-block,
h6.green.ssp-color-block {
  padding-left: 0.5em;
}
h1.green.ssp-color-block:before,
h2.green.ssp-color-block:before,
h3.green.ssp-color-block:before,
h4.green.ssp-color-block:before,
h5.green.ssp-color-block:before,
h6.green.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #33a86a;
}
h1.green.ssp-color-block-background,
h2.green.ssp-color-block-background,
h3.green.ssp-color-block-background,
h4.green.ssp-color-block-background,
h5.green.ssp-color-block-background,
h6.green.ssp-color-block-background {
  padding: 14px 20px;
  background: #33a86a;
}
h1.blue.ssp-color-block,
h2.blue.ssp-color-block,
h3.blue.ssp-color-block,
h4.blue.ssp-color-block,
h5.blue.ssp-color-block,
h6.blue.ssp-color-block {
  padding-left: 0.5em;
}
h1.blue.ssp-color-block:before,
h2.blue.ssp-color-block:before,
h3.blue.ssp-color-block:before,
h4.blue.ssp-color-block:before,
h5.blue.ssp-color-block:before,
h6.blue.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #0478b5;
}
h1.blue.ssp-color-block-background,
h2.blue.ssp-color-block-background,
h3.blue.ssp-color-block-background,
h4.blue.ssp-color-block-background,
h5.blue.ssp-color-block-background,
h6.blue.ssp-color-block-background {
  padding: 14px 20px;
  background: #0478b5;
}
h1.light-grey.ssp-color-block,
h2.light-grey.ssp-color-block,
h3.light-grey.ssp-color-block,
h4.light-grey.ssp-color-block,
h5.light-grey.ssp-color-block,
h6.light-grey.ssp-color-block {
  padding-left: 0.5em;
}
h1.light-grey.ssp-color-block:before,
h2.light-grey.ssp-color-block:before,
h3.light-grey.ssp-color-block:before,
h4.light-grey.ssp-color-block:before,
h5.light-grey.ssp-color-block:before,
h6.light-grey.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #e6e5e9;
}
h1.light-grey.ssp-color-block-background,
h2.light-grey.ssp-color-block-background,
h3.light-grey.ssp-color-block-background,
h4.light-grey.ssp-color-block-background,
h5.light-grey.ssp-color-block-background,
h6.light-grey.ssp-color-block-background {
  padding: 14px 20px;
  background: #e6e5e9;
}
h1.dark-grey.ssp-color-block,
h2.dark-grey.ssp-color-block,
h3.dark-grey.ssp-color-block,
h4.dark-grey.ssp-color-block,
h5.dark-grey.ssp-color-block,
h6.dark-grey.ssp-color-block {
  padding-left: 0.5em;
}
h1.dark-grey.ssp-color-block:before,
h2.dark-grey.ssp-color-block:before,
h3.dark-grey.ssp-color-block:before,
h4.dark-grey.ssp-color-block:before,
h5.dark-grey.ssp-color-block:before,
h6.dark-grey.ssp-color-block:before {
  content: '\00a0';
  width: 0.25em;
  height: 100%;
  margin-right: 0.25em;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  background: #444;
}
h1.dark-grey.ssp-color-block-background,
h2.dark-grey.ssp-color-block-background,
h3.dark-grey.ssp-color-block-background,
h4.dark-grey.ssp-color-block-background,
h5.dark-grey.ssp-color-block-background,
h6.dark-grey.ssp-color-block-background {
  padding: 14px 20px;
  background: #444;
}
h1 .ssp-icon,
h2 .ssp-icon,
h3 .ssp-icon,
h4 .ssp-icon,
h5 .ssp-icon,
h6 .ssp-icon {
  position: relative;
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
h1 .ssp-icon img,
h2 .ssp-icon img,
h3 .ssp-icon img,
h4 .ssp-icon img,
h5 .ssp-icon img,
h6 .ssp-icon img {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3,
h3.ssp-heavy,
h3.ssp-xbold {
  font-size: 22px;
}
h3 a,
h3.ssp-heavy a,
h3.ssp-xbold a {
  color: #4e82a7;
}
h4,
h4.ssp-heavy,
h4.ssp-xbold {
  font-size: 20px;
}
h4 a,
h4.ssp-heavy a,
h4.ssp-xbold a {
  color: #4e82a7;
}
h5 {
  font-size: 18px;
  font-family: "Proxima Nova", sans-serif;
  margin: 10px 0 8px;
}
h6 {
  font-size: 18px;
  margin: 10px 0 8px;
}
ol,
p,
ul {
  font-family: 'Proxima Nova Light';
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0 15px;
  color: #222;
}
p {
  margin: 5px 0 15px;
}
p.large {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.small,
small {
  font-size: 14px;
}
.extra-small {
  font-size: 12px;
}
.ssp-testimonial {
  font-size: 20px;
  color: #666;
}
/*

    #LISTS
    #LINK LISTS

*/
ul.disc {
  list-style: disc;
}
ul li {
  margin: 0;
  line-height: 1.25em;
}
ul li a {
  font-size: 16px;
  padding: 0.5em 0;
  display: block;
}
ul li a label {
  font-size: 16px;
  display: block;
  margin: 0;
}
ul li a small {
  display: block;
  margin: 0;
  line-height: 1;
  opacity: 0.66;
}
ul.ssp-nav-list {
  list-style-type: none;
  padding: 0;
}
ul.ssp-nav-list li h1,
ul.ssp-nav-list li h2,
ul.ssp-nav-list li h3,
ul.ssp-nav-list li h4,
ul.ssp-nav-list li h5,
ul.ssp-nav-list li h6 {
  font-size: 24px;
  line-height: 24px;
  padding: 0;
}
ul.ssp-border li {
  line-height: 1.25em;
  border-bottom: 1px solid #0478b5;
}
ul.ssp-border li h1,
ul.ssp-border li h2,
ul.ssp-border li h3,
ul.ssp-border li h4,
ul.ssp-border li h5,
ul.ssp-border li h6 {
  padding: 0 0 0 2%;
}
ul.ssp-border li a {
  padding: 1em 0 1em 2%;
  display: block;
}
ul.ssp-nav-horizontal {
  background: #e6e5e9;
  margin: 0;
}
ul.ssp-nav-horizontal li {
  display: inline-block;
  margin: 0;
}
ul.ssp-nav-horizontal li h1 {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 14px 10px 14px 20px;
}
ul.ssp-nav-horizontal li a {
  margin: 0;
  padding: 14px 20px;
  transition: background 500ms;
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  color: #666;
}
ul.ssp-nav-horizontal li a:hover {
  color: #565455;
  border-bottom: 4px solid #0478b5;
  text-decoration: none;
}
/*

    #HELPERS

*/
a[data-toggle="tooltip"] {
  cursor: help !important;
}
.ssp-inline-block {
  display: inline-block;
}
.ssp-margin-horizontal-xs {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.ssp-margin-horizontal-xs-left {
  margin-left: 1px !important;
}
.ssp-margin-horizontal-xs-right {
  margin-right: 1px !important;
}
.ssp-margin-horizontal-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.ssp-margin-horizontal-sm-left {
  margin-left: 5px !important;
}
.ssp-margin-horizontal-sm-right {
  margin-right: 5px !important;
}
.ssp-margin-horizontal-md {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.ssp-margin-horizontal-md-left {
  margin-left: 10px !important;
}
.ssp-margin-horizontal-md-right {
  margin-right: 10px !important;
}
.ssp-margin-horizontal-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.ssp-margin-horizontal-lg-left {
  margin-left: 15px !important;
}
.ssp-margin-horizontal-lg-right {
  margin-right: 15px !important;
}
.ssp-margin-horizontal-xl {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.ssp-margin-horizontal-xl-left {
  margin-left: 25px !important;
}
.ssp-margin-horizontal-xl-right {
  margin-right: 25px !important;
}
.ssp-margin-horizontal-xxl {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.ssp-margin-horizontal-xxl-left {
  margin-left: 50px !important;
}
.ssp-margin-horizontal-xxl-right {
  margin-right: 50px !important;
}
.ssp-margin-horizontal-none {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ssp-margin-horizontal-none-left {
  margin-left: 0 !important;
}
.ssp-margin-horizontal-none-right {
  margin-right: 0 !important;
}
.ssp-margin-vertical-xs {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.ssp-margin-vertical-xs-top {
  margin-top: 1px !important;
}
.ssp-margin-vertical-xs-bottom {
  margin-bottom: 1px !important;
}
.ssp-margin-vertical-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.ssp-margin-vertical-sm-top {
  margin-top: 5px !important;
}
.ssp-margin-vertical-sm-bottom {
  margin-bottom: 5px !important;
}
.ssp-margin-vertical-md {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.ssp-margin-vertical-md-top {
  margin-top: 10px !important;
}
.ssp-margin-vertical-md-bottom {
  margin-bottom: 10px !important;
}
.ssp-margin-vertical-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.ssp-margin-vertical-lg-top {
  margin-top: 15px !important;
}
.ssp-margin-vertical-lg-bottom {
  margin-bottom: 15px !important;
}
.ssp-margin-vertical-xl {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.ssp-margin-vertical-xl-top {
  margin-top: 25px !important;
}
.ssp-margin-vertical-xl-bottom {
  margin-bottom: 25px !important;
}
.ssp-margin-vertical-xxl {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.ssp-margin-vertical-xxl-top {
  margin-top: 50px !important;
}
.ssp-margin-vertical-xxl-bottom {
  margin-bottom: 50px !important;
}
.ssp-margin-vertical-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ssp-margin-vertical-none-top {
  margin-top: 0 !important;
}
.ssp-margin-vertical-none-bottom {
  margin-bottom: 0 !important;
}
.ssp-padding-vertical-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ssp-padding-vertical-xs {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.ssp-padding-vertical-xs-top {
  padding-top: 1px !important;
}
.ssp-padding-vertical-xs-bottom {
  padding-bottom: 1px !important;
}
.ssp-padding-vertical-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ssp-padding-vertical-sm-top {
  padding-top: 5px !important;
}
.ssp-padding-vertical-sm-bottom {
  padding-bottom: 5px !important;
}
.ssp-padding-vertical-md {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ssp-padding-vertical-md-top {
  padding-top: 10px !important;
}
.ssp-padding-vertical-md-bottom {
  padding-bottom: 10px !important;
}
.ssp-padding-vertical-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ssp-padding-vertical-lg-top {
  padding-top: 15px !important;
}
.ssp-padding-vertical-lg-bottom {
  padding-bottom: 15px !important;
}
.ssp-padding-vertical-xl {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.ssp-padding-vertical-xl-top {
  padding-top: 25px !important;
}
.ssp-padding-vertical-xl-bottom {
  padding-bottom: 25px !important;
}
.ssp-padding-vertical-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ssp-padding-vertical-none-top {
  padding-top: 0 !important;
}
.ssp-padding-vertical-none-bottom {
  padding-bottom: 0 !important;
}
.ssp-padding-horizontal-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ssp-padding-horizontal-xs {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.ssp-padding-horizontal-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.ssp-padding-horizontal-md {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ssp-padding-horizontal-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.ssp-padding-horizontal-xl {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.ssp-padding-horizontal-xxl {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.ssp-padding-horizontal-none {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ssp-padding-horizontal-none-left {
  padding-left: 0 !important;
}
.ssp-padding-horizontal-none-right {
  padding-right: 0 !important;
}
.ssp-pad {
  padding: 16px !important;
}
.ssp-pad-none {
  padding: 0 !important;
}
.ssp-pad-none-left {
  padding-left: 0 !important;
}
.ssp-pad-none-right {
  padding-right: 0 !important;
}
.ssp-pad-none-top {
  padding-top: 0 !important;
}
.ssp-pad-none-bottom {
  padding-bottom: 0 !important;
}
.ssp-pad-none-all {
  padding: 0 !important;
}
.ssp-pad-none-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.ssp-pad-none-v {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ssp-pad-xs {
  padding: 4px !important;
}
.ssp-pad-xs-all {
  padding: 4px !important;
}
.ssp-pad-xs-h {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.ssp-pad-xs-v {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.ssp-pad-xs-left {
  padding-left: 4px !important;
}
.ssp-pad-xs-right {
  padding-right: 4px !important;
}
.ssp-pad-xs-top {
  padding-top: 4px !important;
}
.ssp-pad-xs-bottom {
  padding-bottom: 4px !important;
}
.ssp-pad-sm {
  padding: 8px !important;
}
.ssp-pad-sm-all {
  padding: 8px !important;
}
.ssp-pad-sm-h {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.ssp-pad-sm-v {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.ssp-pad-sm-left {
  padding-left: 8px !important;
}
.ssp-pad-sm-right {
  padding-right: 8px !important;
}
.ssp-pad-sm-top {
  padding-top: 8px !important;
}
.ssp-pad-sm-bottom {
  padding-bottom: 8px !important;
}
.ssp-pad-md {
  padding: 16px !important;
}
.ssp-pad-md-all {
  padding: 16px !important;
}
.ssp-pad-md-h {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.ssp-pad-md-v {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.ssp-pad-md-left {
  padding-left: 16px !important;
}
.ssp-pad-md-right {
  padding-right: 16px !important;
}
.ssp-pad-md-top {
  padding-top: 16px !important;
}
.ssp-pad-md-bottom {
  padding-bottom: 16px !important;
}
.ssp-pad-lg {
  padding: 32px !important;
}
.ssp-pad-lg-all {
  padding: 32px !important;
}
.ssp-pad-lg-h {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.ssp-pad-lg-v {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.ssp-pad-lg-left {
  padding-left: 32px !important;
}
.ssp-pad-lg-right {
  padding-right: 32px !important;
}
.ssp-pad-lg-top {
  padding-top: 32px !important;
}
.ssp-pad-lg-bottom {
  padding-bottom: 32px !important;
}
.ssp-pad-xl {
  padding: 48px !important;
}
.ssp-pad-xl-all {
  padding: 48px !important;
}
.ssp-pad-xl-h {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.ssp-pad-xl-v {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.ssp-pad-xl-left {
  padding-left: 48px !important;
}
.ssp-pad-xl-right {
  padding-right: 48px !important;
}
.ssp-pad-xl-top {
  padding-top: 48px !important;
}
.ssp-pad-xl-bottom {
  padding-bottom: 48px !important;
}
.ssp-pad-xxl {
  padding: 80px !important;
}
.ssp-pad-xxl-all {
  padding: 80px !important;
}
.ssp-pad-xxl-h {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.ssp-pad-xxl-v {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.ssp-pad-xxl-left {
  padding-left: 80px !important;
}
.ssp-pad-xxl-right {
  padding-right: 80px !important;
}
.ssp-pad-xxl-top {
  padding-top: 80px !important;
}
.ssp-pad-xxl-bottom {
  padding-bottom: 80px !important;
}
.ssp-mar {
  margin: 16px !important;
}
.ssp-mar-none {
  margin: 0 !important;
}
.ssp-mar-none-left {
  margin-left: 0 !important;
}
.ssp-mar-none-right {
  margin-right: 0 !important;
}
.ssp-mar-none-top {
  margin-top: 0 !important;
}
.ssp-mar-none-bottom {
  margin-bottom: 0 !important;
}
.ssp-mar-none-all {
  margin: 0 !important;
}
.ssp-mar-none-h {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ssp-mar-none-v {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.ssp-mar-xs {
  margin: 4px !important;
}
.ssp-mar-xs-all {
  margin: 4px !important;
}
.ssp-mar-xs-h {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.ssp-mar-xs-v {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.ssp-mar-xs-left {
  margin-left: 4px !important;
}
.ssp-mar-xs-right {
  margin-right: 4px !important;
}
.ssp-mar-xs-top {
  margin-top: 4px !important;
}
.ssp-mar-xs-bottom {
  margin-bottom: 4px !important;
}
.ssp-mar-sm {
  margin: 8px !important;
}
.ssp-mar-sm-all {
  margin: 8px !important;
}
.ssp-mar-sm-h {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.ssp-mar-sm-v {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.ssp-mar-sm-left {
  margin-left: 8px !important;
}
.ssp-mar-sm-right {
  margin-right: 8px !important;
}
.ssp-mar-sm-top {
  margin-top: 8px !important;
}
.ssp-mar-sm-bottom {
  margin-bottom: 8px !important;
}
.ssp-mar-md {
  margin: 16px !important;
}
.ssp-mar-md-all {
  margin: 16px !important;
}
.ssp-mar-md-h {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.ssp-mar-md-v {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.ssp-mar-md-left {
  margin-left: 16px !important;
}
.ssp-mar-md-right {
  margin-right: 16px !important;
}
.ssp-mar-md-top {
  margin-top: 16px !important;
}
.ssp-mar-md-bottom {
  margin-bottom: 16px !important;
}
.ssp-mar-lg {
  margin: 32px !important;
}
.ssp-mar-lg-all {
  margin: 32px !important;
}
.ssp-mar-lg-h {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.ssp-mar-lg-v {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.ssp-mar-lg-left {
  margin-left: 32px !important;
}
.ssp-mar-lg-right {
  margin-right: 32px !important;
}
.ssp-mar-lg-top {
  margin-top: 32px !important;
}
.ssp-mar-lg-bottom {
  margin-bottom: 32px !important;
}
.ssp-mar-xl {
  margin: 48px !important;
}
.ssp-mar-xl-all {
  margin: 48px !important;
}
.ssp-mar-xl-h {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.ssp-mar-xl-v {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.ssp-mar-xl-left {
  margin-left: 48px !important;
}
.ssp-mar-xl-right {
  margin-right: 48px !important;
}
.ssp-mar-xl-top {
  margin-top: 48px !important;
}
.ssp-mar-xl-bottom {
  margin-bottom: 48px !important;
}
.ssp-mar-xxl {
  margin: 80px !important;
}
.ssp-mar-xxl-all {
  margin: 80px !important;
}
.ssp-mar-xxl-h {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.ssp-mar-xxl-v {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.ssp-mar-xxl-left {
  margin-left: 80px !important;
}
.ssp-mar-xxl-right {
  margin-right: 80px !important;
}
.ssp-mar-xxl-top {
  margin-top: 80px !important;
}
.ssp-mar-xxl-bottom {
  margin-bottom: 80px !important;
}
