/*gobal secondstep.org v6.css*/
@font-face {
    font-family: 'ProximaNovaThin';
    src: url('fonts/ProximaNova-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/ProximaNova-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/ProximaNova-Reg-webfont.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemi';
    src: url('fonts/ProximaNova-Sbold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/ProximaNova-Bold-webfont.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaXtraBold';
    src: url('fonts/ProximaNova-Extrabld.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/* For IE */
@font-face {
    font-family: 'ProximaNovaThin';
    src: url('fonts/ProximaNova-Thin-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaThinItalic';
    src: url('fonts/ProximaNova-ThinIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/ProximaNova-Light-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLightItalic';
    src: url('fonts/ProximaNova-LightIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaLightItalic';
    src: url('fonts/ProximaNova-LightIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/ProximaNova-Reg-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaRegularItalic';
    src: url('fonts/ProximaNova-RegIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemi';
    src: url('fonts/ProximaNova-Sbold-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiItalic';
    src: url('fonts/ProximaNova-SboldIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url('fonts/ProximaNova-Bold-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaBoldItalic';
    src: url('fonts/ProximaNova-BoldIt-webfont.woff') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.ssp-main-container {
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
        font-family: "Proxima Nova Thin", sans-serif;
        color: #000;
        margin: 10px 0 10px 0;
        font-weight: bold;

        &.regular {
            font-family: 'ProximaNovaRegular', sans-serif;
            font-size: 1.500em;
            color: #333;
        }

        &.semi {
            font-family: 'ProximaNovaSemi', sans-serif;
        }
    }

    h1 {
        font-size: 2.250em;
    }

    h2 {
        font-size: 1.750em;
    }

    h3 {
        font-size: 1.500em
    }

    h4 {
        font-size: 1.313em;
    }

    h5 {
        font-size: 1.500em
    }

    h6 {
        font-size: 1.500em
    }

    a {
        color: #0478b5;

        &:hover {
            color: #0478b5;
        }

        &:visited {
            color: #8961b2;
        }

        &:active {
            color: #0478b5;
        }
    }

    .ssp-btn {
        display: inline-block;
        margin: 15px 0 0 0;
        width: auto;
        font-weight: normal;
        text-align: center;
        font-size: 1em;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 0px solid transparent;
        white-space: nowrap;
        padding: 13px 60px 13px 60px;
        border-radius: 0;
        color: #fff !important;
        font-family: 'ProximaNovaSemi', sans-serif;
        background: #4b82a8;

        &:hover {
            background-color: #4ba0c8;
            color: #222 !important;
            -moz-transition: all 0.2s ease-in;
            -o-transition: all 0.2s ease-in;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &.alert-bt {
            background-color: #d44e05;
            border: 2px solid #ab4501;
            padding: 11px 60px 11px 60px;
            font-family: 'ProximaNovaBold', sans-serif;

            &:hover {
                background-color: #b34304;
                border: 2px solid #b34304;
                color: #fff !important;
            }
        }

        &.ghost-btn {
            border: 2px solid #4b82a8;
            color: #4b82a8 !important;
            background: #fff;
            padding: 11px 60px 11px 60px;

            &:hover {
                background-color: #4b82a8;
                color: #fff !important;
            }
        }

        &.btn-width-100 {
            width: 100%;
        }
    }
    //ADD ALL NEW CSS RULES ABOVE THIS COMMENT TO BE NESTED WITH-IN THE .SSP-MAIN-CONTAINER PARENT DIV
}
